.dashboard {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent overflow from affecting the page layout */
}

.dashboardHeader {
  text-align: center;
  background-color: #7b2c7f;
  border-radius: 5px;
  color: white;
}

.sidebar {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px; /* Fixed width */
  overflow-y: auto; /* Sidebar scrolls if content is too large */
}

.sidebar-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 0px 10px 3px;
  transition: color 0.3s;
  display: block;
  width: 100%; /* Full width */
  text-align: left;
  margin: 0px 0px 5px 0px;
}

.sidebar-title-button {
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  /* padding: 10px 0px 0px 0px; */
  transition: color 0.3s;
  display: block;
  width: 100%; /* Full width */
  text-align: center;
  background-color: #7b2c7f;
  border-radius: 5px;
  color: white;
  height: 5.5vw;
}

/* .sidebar-otions {
  background-color: #007bff;

} */
 
.sidebar-button:hover {
  color: #007bff;
  background-color: #eee;
  border-radius:5px;
}

.active {
  font-weight: bold;
  color: #007bff;
  background-color: #ddd;
  border-radius:5px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #ff1a1a;
}

.content {
  flex: 1;
  overflow-y: auto; /* Allow scrolling for large content */
  padding: 20px;
}

.content-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(100%);
}

.content-section.active {
  opacity: 1;
  transform: translateY(0);
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    overflow: hidden; /* Prevent layout overflow */
  }

  .sidebar {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }

  .content {
    width: 100%;
    max-height: 70vh; /* Adjust to avoid overflow */
    overflow-y: auto; /* Allow vertical scrolling */
  }
}
.sidebar-title {
  text-align: center;
}

.sidebar-button div {
  line-height: 1.5; /* Adjust spacing between lines if needed */
}

.sidebar-button {
  font-size: 1.2rem; /* Adjust the size */
  font-weight: normal;
}